<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<description>mybatis Configuration</description>


	<!-- mongodb的dao开始 -->
	
	<!-- <bean id="sysMenuMongoDaoImpl" class="cn.com.infohold.dao.impl.mongo.SysMenuMongoDaoImpl"></bean> -->
	
	<!-- mongodb的dao结束 -->

	<!-- mybatis的dao开始 -->
	
	
	<!-- mybatis的dao结束 -->
	
	
</beans>